<ion-view view-title={{recipe.name}}{{recipe.category}}>
    <ion-content>
    	<div class="item item-body">
        	<img class="full-image" ng-src="{{recipe.image}}">   
            <div class="item item-divider bar bar-calm">
           		<h3 class="title">Ingredientes</h3>
           	</div>
           	<ion-list class="list list-inset">        
            	<div class="item" ng-repeat="ingredient in recipe.ingredients track by ingredient.ingredient">            		
                	{{ingredient.ingredient}}
                   	{{ingredient.quantity}}
                   	{{ingredient.units}}.
                   	{{ingredient.details}}
				</div>
    		</ion-list>
    		
    		<div class="item item-divider bar bar-calm">
           		<h3 class="title">Pasos</h3>
           	</div>
    		<ion-list ng-controller="PlaylistsCtrl">
    			<div ng-repeat="step in recipe.steps track by step.number">
	      			<ion-item class="item-stable" ng-click="toggleGroup(step)" ng-class="{active: isGroupShown(step)}">
	          			<i class="icon" ng-class="isGroupShown(step) ? 'ion-minus' : 'ion-plus'"></i>
	        			&nbsp;
	        			{{step.number}}{{step.sumary}}
	      			</ion-item>
	      			<div class="item" class="item-accordion" ng-show="isGroupShown(step)">
	        			<p>{{step.description}}</p>
	      			</div>
    			</div>
  			</ion-list>
    	</div>
    </ion-content>
</ion-view>