<ion-view view-title="ToCook">
    <ion-content> <!-- overflow-scroll="true"> <!--class="has-header"> -->
        <ion-list class="list list-inset">
             <div class="card" ng-repeat="recipe in recipes track by recipe.id">
                <div class="item item-avatar bar bar-calm">
                    <img class="full-image" ng-src="{{recipe.icon}}"> 
                    <h1 class="title">{{recipe.name}}</h1>
                </div>
                <div class="item item-text-wrap">
                    <img class="full-image" ng-src="{{recipe.image}}">     
                    <div class="item">
                        {{recipe.subname}}
                    </div>
                </div>
                <div class="item">
                    <a href="#/app/{{recipe.id}}" class="item item-icon-left blue">
                        <i class="icon icon-left ion-fork"></i>
                        Ver receta                                         
                    </a>           
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>