<ion-view view-title={{recipe.name}}{{recipe.category}}>
    <ion-content>
    	<div class="item item-body">
        	<img class="full-image" src="../img/carbonara.jpg">   
            <div class="item item-divider bar bar-calm">
           		<h3 class="title">Ingredientes</h3>
           	</div>  
           	<div class="list list-inset" ng-repeat="recipe.ingredients in ingredient">             
            	<div class="item">                    	
                	{{ingredient.ingredient}}
                   	{{ingredient.quantity}}
                   	{{ingredient.units}}
                   	{{ingredient.details}}
				</div>
    		</div>
    		<div class="item item-divider bar bar-calm">
           		<h3 class="title">Pasos</h3>
           	</div>  
           	<div class="list list-inset" ng-repeat="recipe.steps in step">             
               	<div class="item">                    	
                	{{step.number}}
                   	{{step.sumary}}
                   	{{step.description}}
				</div>
    		</div>   
    	</div>
    </ion-content>
</ion-view>