<ion-view view-title={{recipe.name}}{{recipe.category}}>
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="../img/carbonara.jpg">                                
                
                <div class="list list-inset">                    
                    <div class="item item-divider bar bar-calm">
                        <h3 class="title">Ingredientes</h3>
                    </div>
                </div>
                    <div class="bar bar-calm"><h3 class="title">Ingredientes</h3></div>
                    <div class="item">elemento 1</div>
                    <div class="item">elemento 1</div>
                    <div class="item">elemento 1</div>
                    <div class="item">elemento 1</div>
                    <div class="item">elemento 1</div>
                </div>   
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
    <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

        </div>
    </ion-content>
</ion-view>