.mainBackground{
	background-color: #24c0c2;
}

.mainBarColor{
	background-color: #F7A900;
	color: white;
}

.subMainBarColor{
	background-color: #F7BA00;
	color: white;
}

.itemDividerColor{
	background-color: #FAEC84;
}

.textAvatar{
	padding-top: 6%;
}


.recipePicture{
    width: 50%;
    height: auto;
}

.recipeIngredients{
    width: 50%;
    height: auto;
}

.blue{
    background-color: darkturquoise;
}

